html {
    background: #000;
    -webkit-font-smoothing: antialiased;
}

body {
    background: #000;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    line-height: 1.5;
    margin: 0 auto;
    padding: 1em 5em 2em;
}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
    font-weight: 600;
    line-height: 1;
}

h2 {
    margin-top: 2.0em;
}

a {
    color: #0083e8;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

hr{
    margin-top: 2.0em;
    margin-bottom: 2.0em;
    border: 1px solid white;
}

footer{
   margin-top: 2.0em;
   margin-bottom: 2.0em
}

img {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}
