html {
    background: #000;
}

body {
    background: #000;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #000;
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 1.5;
    margin: 0 auto;
    padding: 0em 0em 0em;
}

.top-nav {
    display: ;
    overflow: hidden;
    color: #000;
    background-color: #64ff01;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    border: 2px solid #000;
    box-sizing: border-box;
}

.txt-nav {
    overflow: hidden;
    color: #64ff01;
    top: 0;
    width: 100%;
    z-index: 1;
    border: 1px solid #000;
    box-sizing: border-box;
}

/* Style the tab */
.tab {
    overflow: hidden;

}

/* Style the buttons inside the tab */
.tab button {
    background-color: #64ff01;
    color: #000;
    outline: none;
    cursor: pointer;
    padding: .5em .5em .5em;
    transition: 0.3s;
    text-align: center;
    border-radius: 40px;
    border: 2px solid black;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-image: linear-gradient(#0101ff, #64ff01);
    /* background-image: linear-gradient(#6401ff, #64ff01, #6401ff); */
}

/* Create an active/current tablink class */
.tab button.active {
    background-image: linear-gradient(#0101ff, #64ff01);
}

/* Style the tab content */
.tabcontent {
    color: aliceblue;
    display: none;
    padding: 6px 12px;
    border: 1px solid #000;
    border-top: none;
}

.sidenav {
    color: #000;
    left: 50%;
    width: 50%;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #64ff01;
    overflow-x: hidden;
    border: 2px solid #000;
    box-sizing: border-box;
}

.sidenav a {
    text-decoration: none;
    color: #000;
    display: block;
}

.sidenav a:hover {
    color: #00f;
}

h1 {
    font-size: 3em;
    text-align: center;
    padding: 0em 1em 0em;
}

h2 {
    font-size: 1.8em;
    text-align: left;
    padding: 0em 1em 0em;
}

h1,
h2,
h3,
h4,
h5,
h6 {

    font-weight: 600;
    line-height: 0;
}


a {
    color: #0083e8;
}

samp {
    display: none;
}

hr {
    border: 1px solid black;
    padding: 0em 0em 0em;
}

p {
    font-size: 1.45em;
    line-height: 1.5em;
    padding: 0em 1em 0em;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgba(0, 255, 75);
}

a:active {
    color: rgba(105, 0, 255);
}

.column {
    text-align: left;
    line-height: 1.5em;
    float: left;
    width: 50%;
}

.accordion {
    overflow: hidden;
    color: #000;
    background-color: #64ff01;
    top: 0;
    width: 100%;
    z-index: +1;

}

.active,
.accordion:hover {
    background-color: #fff;
}

.panel {
    color: #000;
    display: none;
    background-color: white;
    overflow: hidden;
}

img {
    transition: width 3s, height 3s, transform 3s;
    z-index: -1;
    cursor: pointer;
    border: 1em solid rgba(0, 0, 0, 0);
    opacity: 1;

    /* Center an Image */
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.responsive-img {
    width: 35%;
    height: auto;
    text-align: center;
}

img:active {
    transform: rotateZ(90deg);
    /* transform: rotate(180deg); */
}

img:hover {
    transform: rotateZ(90deg);
    filter: drop-shadow(1px 1px 10px #64ff01);
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

iframe {
    filter: grayscale(100%);
}

iframe:hover {
    filter: grayscale(0%);
}

.footer {
    position: inherit;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #64ff01;
    color: #000;
    text-align: center;
    border: 1px solid #000;
    box-sizing: border-box;
}

/* Image effect */
@keyframes colorize {
    0% {
        -webkit-filter: opacity(0%);
        filter: opacity(0%);
    }

    100% {
        -webkit-filter: opacity(100%);
        filter: opacity(100%);
    }
}

/* At mobile display */
@media screen and (max-width: 1242px) {
    /* 1242px */

    body {
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 1.0em;
        line-height: 1.0em;
        margin: 0 auto;
        padding: 0em 0em 0em;
    }

    h1 {
        font-size: 3.5em;
        text-align: center;
    }

    h2 {
        font-size: 1.em;
    }

    p {
        font-size: 1.5em;
        line-height: 1.5em;
    }

    img {
        transition: width 3s, height 3s, transform 3s;
        z-index: -1;
        cursor: pointer;
        border: 1em solid rgba(0, 0, 0, 0);
    }

    .responsive-img {
        width: 50%;
        height: auto;
        text-align: center;
    }

    .column {
        text-align: left;
        width: 100%;
        padding: 0em 0em 0em;
    }

    .footer {}

    iframe {
        max-width: 560px;
        max-height: auto;
        filter: grayscale(100%);
    }

    iframe:hover {
        filter: grayscale(0%);
    }
}
