html {
    background: #000;
}

body {
    background: #000;
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 1.5;
    margin: 0 auto;
    padding: 0em 1em 0em;
    font-weight: 400;
}

.top-nav {
    display: ;
    overflow: hidden;
    color: #fff;
    background-color: #000;
    /*background: linear-gradient(transparent, #64ff01);*/

    width: 100%;
    z-index: 1;
    border: 2px solid transparent;
    box-sizing: border-box;

    padding: 0em 1em 0em;
}

.txt-nav {
    overflow: hidden;
    color: #64ff01;
    top: 0;
    width: 100%;
    z-index: 1;
    border: 1px solid #000;
    box-sizing: border-box;
}

/* Style the tab */
.tab {
    overflow: hidden;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: #000;
    color: #fff;
    outline: none;
    cursor: pointer;

    transition: 0.3s;
    text-align: center;
    border-radius: 40px;

    border: 1px solid #fff;

    padding: 1em 1em 1em;

    margin-bottom: .5em;

}

/* Change background color of buttons on hover */
.tab button:hover {
    border: 1px solid #fff;
    /* background-image: linear-gradient(#6401ff, #64ff01, #0101ff, #6401ff); */
}

/* Create an active/current tablink class */
.tab button.active {
    border: 1px solid #fff;
}

/* Style the tab content */
.tabcontent {
    color: #fff;
    display: none;

    border: 1px solid #000;
    border-top: none;
    background-color: #000;
}

.sidenav {
    color: #000;
    left: 50%;
    width: 50%;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #64ff01;
    overflow-x: hidden;
    border: 2px solid #000;
    box-sizing: border-box;
}

.sidenav a {
    text-decoration: none;
    color: #000;
    display: block;
}

.sidenav a:hover {
    color: #00f;
}

h1 {
    font-size: 3.5em;
    text-align: center;
    padding: 0em 0em 0em;
}

h2 {
    font-size: 2em;
    padding: 0em 0em 0em;
}

h1,
h2,
h3,
h4,
h5,
h6 {

    color: #fff;
    font-weight: 600;
    line-height: 0;
}


a {}

samp {
    display: none;
}

hr {
    border: 1px solid #000;
    padding: 0em 0em 0em;
}

p {
    font-size: 1.5em;
    line-height: 1.5em;
    padding: 0em 0em 0em;
}

a:link {
    color: #fff;
    text-decoration: none;
}

a:visited {
    color: #fff;
    text-decoration: none;
}

a:hover {}

a:active {}

.column {
    text-align: left;
    line-height: 1.5em;
    float: left;
    width: 50%;

}

.accordion {
    overflow: hidden;
    color: #000;
    background-color: #64ff01;
    top: 0;
    width: 100%;
    z-index: +1;

}

.active,
.accordion:hover {
    background-color: #fff;
}

.panel {
    color: #000;
    display: none;
    background-color: white;
    overflow: hidden;
}

img {
    transition: width 3s, height 3s, transform 3s;
    z-index: -1;
    cursor: pointer;
    border: 1em solid rgba(0, 0, 0, 0);
    opacity: 1;

    /* Center an Image */
    margin-left: auto;
    margin-right: auto;
}

.responsive-img {
    width: 35%;
    height: auto;
    text-align: center;
}

img:active {
    transform: rotateZ(90deg);
    /* transform: rotate(180deg); */
}

img:hover {
    transform: rotateZ(90deg);
    filter: drop-shadow(1px 1px 10px #64ff01);
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

iframe {
    filter: grayscale(100%);
}

iframe:hover {
    filter: grayscale(0%);
}

.footer {
    position: inherit;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    color: #000;
    text-align: left;
    border: 1px solid transparent;
    box-sizing: border-box;
    font-size: 1.45em;
    line-height: 1.5em;
    padding: 0em 1em 0em;
}

/* Image effect */
@keyframes colorize {
    0% {
        -webkit-filter: opacity(0%);
        filter: opacity(0%);
    }

    100% {
        -webkit-filter: opacity(100%);
        filter: opacity(100%);
    }
}

/* At mobile display */
@media screen and (max-width: 1242px) {
    /* 1242px */

    body {
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 1.0em;
        line-height: 1.0em;
        margin: 0 auto;
        padding: 0em 0em 0em;
    }

    h1 {
        font-size: 3.5em;
        text-align: center;
    }

    h2 {
        font-size: 2em;
    }

    p {
        font-size: 1.5em;
        line-height: 1.5em;
    }

    /* Style the buttons inside the tab */
    .tab button {
        outline: none;
        cursor: pointer;
        padding: 1em 1em 1em;
        transition: 0.3s;
        text-align: center;
    }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 1em 1em 1em;
        border: 1px solid #000;
        border-top: none;
    }

    img {
        transition: width 3s, height 3s, transform 3s;
        z-index: -1;
        cursor: pointer;
        border: 1em solid rgba(0, 0, 0, 0);
    }

    .responsive-img {
        width: 60%;
        height: auto;
    }

    .column {}

    .footer {

        text-align: center;
    }

    iframe {
        max-width: 560px;
        max-height: auto;
        filter: grayscale(100%);
    }

    iframe:hover {
        filter: grayscale(0%);
    }
}
